[2019-07-10 08:49] BriceRenaudeau opened #26 "Trouble launching GPU_lidar"
Hello,

The demo gpu_lidar.launch doesn't work.
The diff_drive and air pressure demos does work.
![Ignition_gpu_lidar_error](https://user-images.githubusercontent.com/48433002/60955062-61f0a880-a300-11e9-9789-ad74cef7ba4c.png)

I tried using "ogre" instead of "ogre2" for the rendering (it worked for other demos like depth cameras) but the trouble persists :

The full console print is attached [gpu

[2019-07-10 11:40] BriceRenaudeau opened #27 "URDF Spawner"
Hello,
I am trying to use Gazebo ignition instead of gazebo and I would like to know if there exists a model spawner that takes urdf input like in gaezbo-ros ?

[2019-07-10 12:27] chapulina commented on #26
I've seen the `Unable to create the rendering window` error before. That usually means you're using an old version of OpenGL or have an old Nvidia driver. Could you check:

* `~/.ignition/rendering/ogre2.log` and see if you have `Failed to create an OpenGL 3+ context`
* Your OpenGL version, it should be 3+: `glxinfo | grep "OpenGL version"`
* Your Nvidia driver version, it should be 384+: `nvidia-

[2019-07-10 12:47] chapulina commented on #27
You can spawn URDF just like you would spawn SDF using just Ignition, you can try:

`ign gazebo empty.sdf`

then

[code]

This will work for the simulation side. If you need the URDF for RViz for example, you'll need to set the `robot_description` parameter separately.

There isn't a pure ROS way of calling the Ignition service yet

[2019-07-10 12:55] BriceRenaudeau commented on #26
Thanks for your answer,
* In the log, i have this :

* OpenGL version is : `OpenGL version string: 3.0 Mesa 18.2.8`

* I installed  `nvidia-384`, `nvidia-utils-390` and `nvidia-driver-390` but `nvidia-smi` couldn't communicate with the NVIDIA driver.

Now in the .ignition log I got :

But I did update it. My ubuntu kernel is 4.15.0-54. Is it possible that I need to upgrade ubuntu to the latest ker

[2019-07-10 13:06] chapulina commented on #26
If `nvidia-smi` didn't work, I think the problem is that you don't have the correct drivers enabled. Try switching drivers with the "Aditional Drivers" dialog?

[2019-07-10 13:45] BriceRenaudeau commented on #26
`dpkg -l | grep nvidia` is giving me :

`sudo lshw -C display` gives me  :

I don't know how to set nvidia driver.

[2019-07-10 13:58] chapulina commented on #26
Setting up drivers can be complicated, I hope you figure it out.

I think we've established that the issue is in your local setup, and not a bug in this package, so I'm going to close this issue. Feel free to ask for help at http://answers.gazebosim.org/. Good luck :crossed_fingers:

[2019-07-10 13:58] #26 closed

[2019-07-10 14:54] BriceRenaudeau commented on #27
I can spawn my robot using _robot.sdf_ but I would like to know if I can use my previous _robot.gazebo_ file and its plugins.

[2019-07-10 14:59] chapulina commented on #27
What format does the `.gazebo` file use? If it's SDF or URDF then it should work.

Plugins will not work though. Ignition's C++ API is completely different from classic Gazebo, so all plugins must be rewritten.

[2019-07-10 15:04] BriceRenaudeau commented on #27
It's SDF format using <robot> balise.
What is the command line to spawn from a file ?

[2019-07-10 15:07] chapulina commented on #27
Use the `sdf_filename` field. The whole message is documented [here](https://bitbucket.org/ignitionrobotics/ign-msgs/src/default/proto/ignition/msgs/entity_factory.proto).

[2019-07-10 15:29] BriceRenaudeau commented on #27
Sorry I meant `<robot >` Markup

I tried but it gives me an error :

Thanks

[2019-07-10 16:34] chapulina commented on #27
The `<robot>` tag is present on URDF but not on SDF. I suggest you go through some [tutorials](http://gazebosim.org/tutorials?tut=ros_urdf&cat=connect_ros).

It's hard to tell what's going on without knowing the exact command you sent. How about we follow up on Gazebo Answers? You can ask a new question detailing what you're trying to do and what steps you've taken.

I'll leave this issue here sin

[2019-07-10 16:58] BriceRenaudeau commented on #27
Sorry for bothering you.
I succeeded in using a file.
I still have trouble going from my previous Gazebo file to the new Ignition one.
For exemple :
* `<color rgba="1.0 1.0 1.0 0.5"/>` syntax doesn't work
* inertia can be wrong now

Thanks.

[2019-07-10 17:06] chapulina commented on #27
http://answers.gazebosim.org/ is the best place to follow up on these issues :wink:

[2019-08-01 18:41] azeey opened #31 "parameter_bridge echos back when it receives ROS messages"
When publishing to the ROS side of the parameter_bridge node, it echos back the message. To test, with roscore running, in one terminal I ran
[code]
In another (terminal 2),
[code]

And finally
[code]

I expect to see one message in terminal 2, but I get:

[code]

[2019-08-01 18:49] caguero commented on #31
Shouldn't you add `--once` when publishing the message?

[2019-08-01 19:05] azeey commented on #31
I tried with `--once` and got the same result.

[2019-08-01 20:01] chapulina commented on #31
I can reproduce it. And ignition only gets the message once:

[code]

[2019-08-01 20:25] caguero commented on #31
Me too and as @chapulina mentioned it should only happen in the ROS->Ign direction. I think I know what's happening. I might need to touch Ignition Transport to avoid this issue here.

[2019-08-01 22:33] caguero commented on #31
I have a potential fix in #33 .

[2019-08-02 23:07] caguero commented on #31
Fixed in pull request #33 .

[2019-08-02 23:07] #31 closed

[2019-08-02 23:09] caguero commented on #27
I'm closing this one, feel free to follow-up on http://answers.gazebosim.org/ .

[2019-08-02 23:09] #27 closed

[2019-08-16 01:02] chapulina opened #40 "ros_ign_point_cloud only works with ign-gazebo <= 2.6.1"
We recently made a performance improvement to `ign-gazebo` which broke the point cloud package. There's more detailed information on [this issue](https://github.com/ignitionrobotics/ign-gazebo/issues/36).

[2019-08-27 18:52] azeey opened #42 "ROS -> IGN stops working after 5 minutes of inactivity"
I have noticed this problem in the SubT environment, but it can be easily reproduced as follows:

* Start `roscore`

* In one terminal (Terminal 1), run the parameter bridge:
[code]
* In another terminal (Terminal 2), echo the ign-transport topic
[code]
* In another terminal (Terminal 3), publish on the ROS topic
[code]
* On Terminal 2, you should see
[code]
* Now wait 5 minutes without publishing

[2019-08-27 23:27] azeey commented on #42
The issue seems to be related to having docker installed/running. Others may not experience this problem. We can put this issue on hold for now.

[2019-08-27 23:35] iche033 commented on #42
I just tested this. I don't have docker running so I was still able to get the msg `Hello2`  after 5 mins

[2019-08-28 16:36] chapulina commented on #42
I just tested this inside a docker container and the 2nd message went through even after 10 minutes.

[2019-08-28 16:40] azeey commented on #42
Okay. This is really strange. I tested it inside the latest `osrf/subt-virtual-testbed` yesterday and I was still getting the problem. At this point, I'm inclined to think it must be something wrong with my machine/network setup.

[2019-08-28 16:52] caguero commented on #42
For the record, Addisu and I tested a couple of scenarios:

* I ran it on my desktop inside a Docker container (Docker version 18.09) and I wasn't able to reproduce the problem.
* I ran it on my laptop in the host I wasn't able to reproduce the problem.
* In both my laptop and in Addisu's computer, Ignition Transport binds to 172.17.0.1, which belongs to the Docker network interface. You can check

[2019-08-28 17:51] azeey commented on #42
Thanks for summarizing our tests @caguero

This is a capture from wireshark only showing the ign-transport side of things. It shows that the first message was sent from the ip `172.17.0.1` and receives an ACK. The second message after 305 seconds is sent from `192.168.1.74`, but it doesn't get an ACK. I'm not sure why the second message is sending from a different IP.

![image](https://user-images

[2019-08-28 20:16] azeey commented on #42
This might be a related issue: https://github.com/zeromq/libzmq/issues/2763
Based on the comments there, I tried setting `ZMQ_HEARTBEAT_IVL` to 30 seconds and that seems to fix the problem for me. Again, since I'm the only one experiencing it and since I don't know exactly what's causing the problem, we can wait on making any changes. This is my diff on `ign-transport/src/NodeShared.cc`, fyi

[cod

[2019-11-21 21:09] chapulina commented on #27
#51 adds an executable to spawn SDF / URDF which can be used inside launch files and take the model description from a ROS param.

[2020-03-24 19:27] realdealneil opened #63 "Feature Request: Add Float64 support in ros_ign_bridge"
We are trying to implement a pan/tilt mechanism in ignition-gazebo (for SubT).  We have the pan/tilt working using ignition messages, but the ignition joint controller expects an ignition::msgs::Double and ros_ign_bridge does not currently support double conversion from std_msgs::Float64 to ignition::msgs::Double.

I am starting to go through the ros_ign_bridge code to see how difficult it will be

[2020-03-24 19:43] chapulina commented on #63
I think it just hasn't been needed so far.

Changing the joint controller would not be backwards compatible, so I recommend adding the message conversion here if that solves the issue.

Adding a new conversion takes a lot of boilerplate code, but it's not too complicated. See https://github.com/osrf/ros_ign/pull/50/ for an example.

[2020-03-24 20:36] realdealneil commented on #63
Submitted pull request 64 (how appropriate...): https://github.com/osrf/ros_ign/pull/64

[2020-03-26 01:38] chapulina commented on #63
#64

[2020-03-26 01:38] #63 closed, assigned to nobody

[2020-04-29 19:39] chapulina opened #70 "Bridge services"
Ignition offers several services. It would be good to bridge them directly to ROS (1 and 2) so users can do things like spawning entities directly from ROS.

[2020-05-13 19:40] j-rivero opened #76 "How to release and run different flavours of ros_ign packages"
The original request is from @chapulina. This issue speaks only about the issue of having binary packages supporting different ROS distros and different Ignition distros. A source build for these combinations seems to be possible after changes in pr #72

A release of `ros_ign` code should ideally fulfill the following requirements:
 1. Package names in code repository should be maintain
   *i.e: d

[2020-05-13 23:20] j-rivero commented on #76
Without touching how the code is organized in the repo right now:
 * 1, 2 and 3 can be implemented using a bit of bloom templates magic to change debian package names
 * 4 and 5 affects where the code will be in the filesystem

Without asking the user for changing `ROS_PACKAGE_PATH` I don't find a way of having 4 implemented without altering the file paths (include/, lib/ or share/ for example).

[2020-06-07 22:57] chapulina opened #78 "Bridge FluidPressure for ROS 2"
I don't remember why that message was not ported to ROS 2. The message is on [common_interfaces](https://github.com/ros2/common_interfaces/blob/master/sensor_msgs/msg/FluidPressure.msg).

We should remember to do all these:

- [x] Bridge the message
- [ ] Update [air_pressure.launch.py](https://github.com/ignitionrobotics/ros_ign/blob/dashing/ros_ign_gazebo_demos/launch/air_pressure.launch.py)
- [

[2020-06-07 22:59] chapulina opened #79 "Port ros_ign_gazebo to ROS 2"
The entire package hasn't been ported yet: https://github.com/ignitionrobotics/ros_ign/tree/melodic/ros_ign_gazebo

The main things to port:

- [x] Launch script
- [x] Create node

[2020-06-08 17:45] ahcorde commented on #79
PR https://github.com/ignitionrobotics/ros_ign/pull/80

[2020-06-17 21:29] #79 closed, assigned to ahcorde

[2020-06-17 22:29] chapulina commented on #76
tl;dr Let's drop requirements 4 and 5 and have only one `ros_ign` version at a time per ROS distro.

---

Some more considerations:

* Citadel is in https://packages.ros.org for Focal / Buster (https://github.com/ros/rosdistro/pull/24934)
* Each ROS version will support an official Ignition version, the same way as it supports an official Gazebo version:

    * [REP-2000](https://www.ros.org/reps/

[2020-07-10 15:30] chapulina opened #90 "Move installation instructions to top-level README"
For historical reasons, the `ros_ign_bridge` tutorial has requirements and installation instructions:

https://github.com/ignitionrobotics/ros_ign/tree/dashing/ros_ign_bridge#prerequisites

But now that this repository has multiple packages, I think that the installation instructions should be moved to the top-level README, and only package-specific information should be on each package's READMEs.

[2020-07-13 15:38] chapulina opened #92 "Port bridge tests to ROS 2"
When we initially ported `ros_ign_bridge` from ROS 1 to ROS 2, there wasn't an easy way to port the tests yet (I believe there was no launch testing). Now that's already available, so we should enable tests for ROS 2:

https://github.com/ignitionrobotics/ros_ign/blob/e2feecf0cbba07a2f2b630c3dd42a674d251bc61/ros_ign_bridge/CMakeLists.txt#L111-L113

[2020-07-21 21:31] chapulina commented on #90
I needed to update documentation on #72 so I tackled this issue too.

[2020-07-22 01:16] chapulina commented on #76
The team has discussed this a while back and I believe there are no objections.

Here's the plan:

# ROS 1

- [x] Support choosing Blueprint / Citadel for Melodic: https://github.com/ignitionrobotics/ros_ign/pull/72
- [x] Add Noetic support (Citadel only): https://github.com/ignitionrobotics/ros_ign/pull/93
- [x] Clean up installed headers for Melodic: https://github.com/ignitionrobotics/ros_ign/p

[2020-07-22 20:26] j-rivero commented on #76
Sorry did not answer here although we speak in person. +1 to all the plan, sounds like the best approach to me and it is the same we are doing with `gazebo_ros_pkgs`.

The whole plan looks good to me. We might need to change something in release-tools along the way but we can cover it as we go forward. I think we need a place to store this information (official vs unofficial releases, naming, vers

[2020-07-22 22:48] #90 closed, assigned to chapulina

[2020-07-23 00:46] chapulina commented on #76
Good point, I'll open a PR documenting this within this repo.

I like that the numbers will have meaning. This means we won't be using semver though. So we should document what minor and patch bumps mean, as well as what's our API/ABI policy.

I have a slight preference for bumping a major for each ROS distro so we can piggyback on [ROS 2's versioning guidelines](https://index.ros.org/doc/ros2/Con

[2020-07-23 11:30] j-rivero commented on #76
Oh I assumed that in ROS, specially in ROS1, we don't quite follow semver.

Good resource indeed.

Like it, deal.

[2020-07-23 15:46] ahcorde commented on #92
PR https://github.com/ignitionrobotics/ros_ign/pull/98

[2020-07-23 18:09] chapulina commented on #76
@j-rivero , I documented some of the things discussed here on #99. Let me know what you think. I kept the version numbers at 0.X, but went a bit crazy and added one more minor digit :smile:

[2020-07-24 12:14] j-rivero commented on #76
We currently host packages for ros_ign bridge in Melodic:
[code]
For this new release we would be changing names to `ros-melodic-ign-*-blueprint`, right? We want the current packages to be automatically updated to new names?

[2020-07-25 00:59] chapulina commented on #78
Humm now I don't remember why I was under the impression that `FluidPressure` hadn't been ported. It was ported together with the rest of messages on https://github.com/ignitionrobotics/ros_ign/pull/45/.

I guess the only thing missing is re-enabling the launch file and removing the TODOs :woman_shrugging:

[2020-07-25 01:33] chapulina commented on #76
Oh no, I think that would break SubT. I think we agreed that `ros-melodic-ros-ign` will be compiled against Blueprint and we won't provide Citadel debs for now.

[2020-07-25 01:58] #92 closed, assigned to ahcorde

[2020-09-08 11:07] doisyg opened #109 "How to load plugin from URDF in ignition ?"
Transitioning from Gazebo to Ignition, I am trying to use the spawner https://github.com/ignitionrobotics/ros_ign/pull/60
I can successfully load an URDF which spawn a model in Ignition, but in don't understand how to load a plugin from the URDF.
More precisely I am trying to start the DiffDrive plugin, I put the following :

      <plugin
        filename="libignition-gazebo-diff-drive-system.so"

[2020-09-08 19:45] diegoferigo commented on #109
Have you tried the following?

[code]

The urdf file is converted by gazebo to sdf before being parsed by sdformat. You can test the conversion with `ign sdf -p file.urdf`.

[2020-09-08 20:59] doisyg commented on #109
:man_facepalming: :man_facepalming: :man_facepalming:
Thanks, it works!
and `ign sdf -p file.urdf` is very useful for debugging

[2020-09-08 20:59] #109 closed, assigned to nobody

[2020-09-08 21:21] diegoferigo commented on #109
For future reference, the [URDF tutorial](http://gazebosim.org/tutorials?tut=ros_urdf) for Gazebo Classic seems still valid also for Ignition Gazebo. In particular, from the section [`<gazebo> element for the tag`](http://gazebosim.org/tutorials?tut=ros_urdf#%3Cgazebo%3Eelementforthetag):

that can be applied also to model plugins.

[2020-09-09 02:34] #76 closed, assigned to chapulina

[2020-09-20 15:48] doisyg opened #112 "Remap in ros_ign_bridge ?"
In order to be able to set the output ROS topic of my simulated depth sensor configurable (see https://github.com/ignitionrobotics/ign-gazebo/issues/360), I thought about having the possibility to have a different topic name on the ign side and on the ROS side.
Would this be useful or create some confusion?

What about using the  `:=` operator with for instance, the following syntax:
`/chatter_in_

[2020-09-20 22:55] chapulina commented on #112
I don't think this is a bad idea, but I think you should already be able to achieve this using ROS' remapping, right? See [this example](https://github.com/osrf/subt/blob/0eed307c9b25bc0cfdf3a1577b090fa64926c384/submitted_models/explorer_x1_sensor_config_1/launch/vehicle_topics.launch#L9-L15). You can also take advantage of namespaces this way.

Since there's already a way to do it, I'd lean towar

[2020-09-21 08:21] doisyg commented on #112
You are right, using ROS remapping is much simpler!

[2020-09-21 08:21] #112 closed, assigned to nobody

[2020-10-02 10:36] gezp opened #114 "ros_ign_bridge error for nest model sensor topic"
I create a nest model sdf which contains a camera sensor with default topic, then i  publish this topic  to ros by using use ros_ign_bridge.but i get a error like this.so how to solve it?  i have no idea now, thank you.

[code]
this is topic info i use `ign topic -l` to get
[code]

[2020-10-02 18:05] chapulina commented on #114
Nested models aren't fully supported in Ignition yet, see this PR in the works: https://github.com/ignitionrobotics/ign-gazebo/pull/258

Do you have simple world / launch files that reproduce your issue?

Also, what Ignition / ROS versions are you using?

[2020-10-03 05:08] gezp commented on #114
I use ros2 foxy and ignition dome. now i know the reason of the error, because the characters ` "::"`  is valid in topic name for `Ignition-transport` ,but is invalid for `ROS` .i solved this by modifying the source code of `ros_ign/ros_ign_bridge`  ros2 branch.

First, I copy `replace_delimiter()` function in `convert.cpp` to `parameter_bridge.cpp`, which is used to replace `::` with `/`  so that

[2020-10-10 22:41] Nitrow opened #115 "lidar scan is infinite"
Hello, I don't know if this is the please to ask questions, but here it goes.
When I publish a lidar scan over the ignition ros bridge it gives me "inf" if there is no obstacle. I was wondering what the easiest way to just have it publish the max lidar range when this is the case. Pretty important since I want to simulate gmapping. I could create a note that subscribes to the ros topic and change

[2020-10-11 18:19] #115 closed, assigned to nobody

[2020-10-11 18:20] Nitrow commented on #115
Never mind, I just did the annoying way.

[2020-10-12 16:59] chapulina commented on #115
https://answers.gazebosim.org/ or https://answers.ros.org/ are better places for questions :wink:

We're following [REP-117](https://www.ros.org/reps/rep-0117.html):

"_Detections that are too close to the sensor to quantify shall be represented by -Inf. Erroneous detections shall be represented by quiet (non-signaling) NaNs. Finally, out of range detections will be represented by +Inf._"

[2020-10-12 20:29] chapulina commented on #114
@gezp , do you have a minimal example of a world that results in topics with `::` in them?

I think that ideally we should be substituting the `::` for `/` from topics at the `ign-gazebo` level.

[2020-10-15 17:39] Ubb90 opened #116 "TF2 msgs not implemented in ros2 branch"
PR #67 was merged in the melodic branch but has not been ported to the ROS2 branch.
This means there is no way to send tf messages to ignition for Ros2

Is there any plans to merge the melodic branch in the Ros2 branch sometime soon ?

If not I'm going to try and port in and will do a pull request

[2020-10-15 17:44] chapulina commented on #116
Unfortunately porting between ROS versions is not that straightforward and requires a separate pull request.

That would be great, thanks!

[2020-10-15 18:03] Ubb90 commented on #116
Cool I'm gonna try and port that feature. Not sure about doing a full merge as I've never done that.

[2020-10-15 20:14] chapulina commented on #116
Yeah the merge wouldn't be a good idea. You can try cherry-picking 7b06c210379680bfa96f3e1d7794708f0e97007e to a ROS 2 branch (I suggest `dashing` if possible, otherwise `ros2`), then manually fixing the differences.

[2020-10-22 15:27] Ubb90 opened #118 "Ros->Ign Bridge stops with signal 245 when JointStatePublisher is run"
If you run a bridge to publish joint_states from Ros2 to ignition with `ros run ros_ign_bridge parameter_bridge /joint_states@sensor_msgs/msg/JointState@ignition.msgs.Model` it works.

However if you run JointStatePublisher or JointStatePublisherGui with `ros run joint_state_publisher joint_state_publisher` and a Urdf file the bridge stops with no visible error beside signal 245 beeing sent
![imag

[2020-10-22 20:48] Ubb90 commented on #116
I can close this right?

[2020-10-23 01:15] chapulina commented on #116
Done in https://github.com/ignitionrobotics/ros_ign/pull/117, thanks @09ubberboy90 !

[2020-10-23 01:15] #116 closed, assigned to nobody

[2020-10-23 04:24] chama1176 opened #119 "Failed to load xml from ROS param [ros_ign_gazebo create]"
## Test environment
- Ubuntu 20.04
- ROS2 Foxy
- ignition citadel

## Test launch file
[code]
This failed for "Failed to get XML from param".

## How I resolved
### Before
https://github.com/ignitionrobotics/ros_ign/blob/94a719adcf6005fae657a174489cb99349c33ced/ros_ign_gazebo/src/create.cpp#L44-L52

### After
[code]
This change works good for me.

[2020-10-26 19:08] chapulina commented on #119
Thank you for ticketing the issue, @chama1176 . I haven't tried reproducing the issue, but your proposed fix looks ok to me. Would you be able to open a pull request with the fix?

[2020-10-26 19:12] chapulina commented on #118
Thank you for ticketing the issue. Do you have a minimal launch file that can be used to test this issue?

Also, what Ignition version are you using?

[2020-10-27 07:59] chama1176 commented on #119
Thank you for confirmation.
OK.I will send a pull request with the fix.

[2020-10-29 15:50] chapulina commented on #119
Should be fixed by #120

[2020-10-29 15:50] #119 closed, assigned to nobody

[2020-10-31 14:53] Ubb90 commented on #118
Hi sorry for the delay. I've been pretty busy. I am using ignition 4.0.0. I also have ignition 3.3.0 installed.

A simple launch file would be (once given a pkg and an urdf file with joints inside):

[code]
This causes an causes an `[ERROR] [parameter_bridge-2]: process has died [pid 194342, exit code 255, cmd '/home/ubb/Documents/ros/bridge_ws/install/ros_ign_bridge/lib/ros_ign_bridge/parameter_b

[2020-12-06 20:44] ValerioMa commented on #70
Hello @chapulina I would like to start the bridging the service since it would be useful for me to spawn a robot directly from ros2...any suggestion on how to get started?

[2020-12-09 13:03] ValerioMagnago opened #127 "spawn robot from topic"
---
Create the robot model from topic
---

Since the parameter server is no more used in ros2, the robot description is now published as a string message. Tools like rviz2 can subscribe to this message and load the robot definition.
I wanted to get a feedback if spawning a robot given the name of the topic could be a new feature to add inside *create.cpp* in the `ros_ign_gazebo` package.

Currentl

[2020-12-09 19:59] chapulina commented on #127
Thanks for bringing this up, I think that using the topic is fine, but I'm still wondering about the long-term recommended approach will be.

`gazebo_ros_pkgs` has gone the opposite direction from `ros_ign`. It started supporting just a topic, like RViz2, and now there's some push to also support parameters: https://github.com/ros-simulation/gazebo_ros_pkgs/pull/1039#issuecomment-582126233. On `ro

[2020-12-09 21:04] ValerioMagnago commented on #127
Yes I agree. At the moment it is unclear the way to go and in long term this can lead to a set of  packages with different standard that will require some avoidable effort  to work together...as you mentioned this will be *unfortunate*.

[2020-12-09 21:29] clalancette commented on #127
My thinking here at the time I rewrote `robot_state_publisher` for ROS 2 was that a topic is better, since it is more dynamic.  That is, there can be one authority for the robot description in the system, and if you want to update it, it can publish the changes to everything downstream.

However, that is an aspirational goal.  Currently the system doesn't quite support that, and https://github.com

[2020-12-09 21:38] chapulina commented on #127
Thanks for the input, @clalancette.

So @ValerioMa , if you're interested on working on an implementation, I think your suggestion of adding a `--topic` option would be fine.

We should at the very least add a working demo launch file to `ros_ign_gazebo_demos`, which I assume would use `robot_state_publisher` to publish the description to a topic. Ideally, we'd also add a test case to `ros_ign_gaz

[2020-12-11 00:16] ValerioMagnago commented on #127
Yes by using a the publisher-subscriber paradigm to get the robot description I agree with @clalancette that we will enable on the fly reconfiguration of the robot. With reference to the create.cpp it will be possible with limited effort to recreate a robot each time we get a new message on the topic. Obviously the creation node has to be kept alive for the whole simulation and we will need to sub

[2020-12-11 12:49] peci1 opened #129 "High CPU usage of clock bridge with stopped simulator"
This a screenshot of htop on a server where SubT simulator has recently finished the 3600 seconds mission. I guess it pauses the simulation then. I noticed that in this state, the clock bridges seem to be pretty active given they have nothing to transmit...

![Snímek obrazovky pořízený 2020-12-11 13-48-26](https://user-images.githubusercontent.com/182533/101905353-9f252e00-3bb7-11eb-9a3e-afa4f0095

[2020-12-29 14:55] peci1 opened #130 "Melodic upgrade"
It seems to me that the binary packages `ros-melodic-ros-ign-*` from packages.osrfoundation.org started to target Dome instead of Blueprint after the changes from mid-December.

In my opinion, this is a pretty disruptive change - running `apt-get dist-upgrade` would install a newer version of Ignition Gazebo if I wouldn't have noticed. And then a lot of surprises would come. This really isn't a pl

[2020-12-29 18:35] chapulina commented on #130
Yes, they have, shortly after https://github.com/ignitionrobotics/ros_ign/pull/126 was merged. We planned to make an announcement ahead of time, but with the holidays I think we let it slip. Sorry about that.

We think so too, and we don't plan on making this kind of change in the future. Melodic was a special case because of the SubT competition, which will use Dome now that Blueprint is going EO

[2020-12-29 19:15] peci1 commented on #130
Okay, thanks for explaining. If future versions will always target only a single ROS distro, then this should not happen and adding Ignition collection name to packages is really not needed.

[2020-12-29 19:15] #130 closed, assigned to nobody

[2021-01-12 10:28] doisyg opened #131 "[ROS1] No TF published from Ignition with DiffDrive plugin"
As opposite to gazebo classic, no tf from `frame_id` to `child_frame_id`is published with ignition when using the DiffDrive plugin.
What would be the best implementation strategy ?
Adding in ros_ign_bridge a tf publisher when converting Odom messages ?
~~Or adding in Ignition DiffDrive plugin the publication of the newly added https://github.com/ignitionrobotics/ros_ign/commit/7b06c210379680bfa96f

[2021-01-12 12:50] doisyg commented on #131
In fact, very easy to solve since there is a ign to ros Pose_V to tf2 conversion working in noetic, see https://github.com/ignitionrobotics/ign-gazebo/pull/548

[2021-01-14 10:10] MCFurry opened #132 "Geometries not found when defined inside ROS package"
Loading a robot description from the ROS parameter server works nicely, but mesh-files are not found.
In our URDF-files we include meshes like so:
`<geometry>`
`  <mesh filename="package://my_package/meshes/frame.stl" />`
`</geometry>`

But these result in file not found errors:
`[GUI] [Err] [SystemPaths.cc:357] Unable to find file with URI [model://my_package/meshes/frame.stl]`
`[GUI] [Err] [Syst

[2021-01-14 18:42] chapulina commented on #132
Could you try using relative paths to the meshes? Like `meshes/frame.stl`.

Alternatively, you can create env hooks to set environment variables telling Ignition where to find your meshes, like:

[code]

See an example here:

https://github.com/chapulina/dolly/blob/foxy/dolly_ignition/env-hooks/dolly_ignition.dsv.in

[2021-01-26 02:37] chapulina opened #133 "Launch file may start wrong ign-gazebo version"
`ign_gazebo.launch` starts Ignition Gazebo with the `ign gazebo` command line command:

https://github.com/ignitionrobotics/ros_ign/blob/a4bc25fde117f9ce7279c83dc419bfb0eb3983b9/ros_ign_gazebo/launch/ign_gazebo.launch.py#L34

https://github.com/ignitionrobotics/ros_ign/blob/968c31586bbe9964a3788d5970a90f88dfc3cb25/ros_ign_gazebo/scripts/ign_gazebo#L16

The problem is that, if a user has more than

[2021-03-21 23:07] caioaamaral commented on #133
@chapulina I'm addressing `--force-version` here at ignitionrobotics/ign-tools#44 and currently writing a bugfix for this one.

[2021-03-22 17:29] chapulina commented on #133
Thanks, @caioaamaral !

[2021-03-26 14:29] AndrejOrsula opened #143 "[ros2] Ignition Transport message duplication caused by bidirectional bridge"
## Environment
* **OS Version:** Ubuntu 20.04
* **Ignition:** Edifice, built from source
* **ROS 2:** Foxy, binary install
* **ros_ign branch:** `ros2` (54e12e2653054fbb925829784ae9151c793288c3), built from source

## Description
* **Expected behaviour:** Running a bidirectional `parameter_bridge` with Ignition publisher (separate) should generate only ROS 2 messages.
* **Actual behaviour:** Runni

[2021-03-26 23:41] chapulina commented on #143
Interesting, I thought this had been fixed by https://github.com/ignitionrobotics/ros_ign/pull/33. I see the code that's supposed to prevent it in the `ros2` branch:

https://github.com/ignitionrobotics/ros_ign/blob/117e2b2efb2430b199779e82d40344386dd8a253/ros_ign_bridge/src/factory.hpp#L98-L100

Maybe the `IntraProcess` call is not doing the trick anymore.

[2021-03-27 13:45] AndrejOrsula commented on #143
I believe the issue originates solely in the ROS 2 subscriber as there is currently no mechanism preventing this to occur. Ignition `IntraProcess` seems to work fine (otherwise there would be the same issue in the opposite direction and ROS 2 messages would get duplicated).

I have proposed a solution in #146 that makes use of [`ignore_local_publications`](https://docs.ros2.org/foxy/api/rmw/struct

[2021-03-30 14:58] AndreasAZiegler commented on #131
I get a
[code]
 when I try to start the bridge with

[code]

with

[code]

I mentioned it here as [here](https://github.com/ignitionrobotics/ign-gazebo/pull/548#issue-553433722) it was mentioned that ```/tf@tf2_msgs/TFMessage@ignition.msgs.Pose_V``` should work ans this PR is linked in the previous comment.

[2021-03-30 16:07] doisyg commented on #131
Works for me with everything running on the same host.
Is the bridge working with other topics ? Which ros_ign version/branch are you running ?
I am closing this ticket a it should have after the PR was merged. Please open another one

[2021-03-30 16:07] #131 closed, assigned to nobody

[2021-04-02 21:38] doisyg opened #147 "[ros2] Different interpretation of xacro/urdf files between igniton-gazebo3 and igniton-gazebo4/5"
## Environment
* OS Version: Ubuntu 20.04
* Source or binary build: igniton-gazebo3 igniton-gazebo4 igniton-gazebo5

## Description
Don't know if I should report here or there: https://github.com/ignitionrobotics/ign-gazebo
I have a ROS / Ignition robot simulation working well with `citadel`, I did few tests with the newly released `edifice` and run into an issue on how my xacro/files are interpre

[2021-04-05 08:18] addy1997 opened #148 "How to contribute ros_ign gazebo plugins to repo?"
Hi there,

I have implemented a mimic_joint plugin for ros-ign gazebo. I am not able to find a specific directory/folder/branch to contribute. More about this [here](https://github.com/ignitionrobotics/ign-gazebo/pull/739)

[2021-04-05 20:14] chapulina commented on #147
I suspect this may be related to changes from libSDFormat 9 (Citadel) to libSDFormat 10 (Dome), because that's where the URDF gets parsed into SDF. In fact, a quicker way of reproducing this can be achieved with the `ign sdf` tool:

Citadel has the sensor pose:

<details>
  <summary>ign sdf --force-version 9.5.0 -p /tmp/urdf</summary>

[code]

</details>

Dome doesn't:

<details>
  <summary>ign sd

[2021-04-05 20:24] chapulina commented on #148
Thank you for the interest in contributing!

I noticed on that other pull request that you haven't managed to get the plugin to compile yet. That plugin will need to be completely rethought before it can be migrated from Gazebo classic to Ignition. I recommend you get familiar with [Ignition's architecture](https://ignitionrobotics.org/docs/all/architecture) and check out our [migration guides](ht

[2021-04-05 20:24] #148 closed, assigned to nobody

[2021-04-05 20:39] scpeters commented on #147
I believe this is connected to fixed-joint reduction with the libsdformat parser_urdf.cc file

[2021-04-05 22:33] #78 closed, assigned to nobody

[2021-04-06 20:49] chapulina commented on #147
I think this was fixed by https://github.com/osrf/sdformat/pull/525

[2021-04-06 21:47] doisyg commented on #147
Hopefully. It looks like it is related. Will test once merged or released in sdf11

[2021-04-10 19:42] doisyg commented on #147
Confirmed fixed in dome/sdf10, still need a merge in edifice/sdf11

[2021-04-30 04:50] gezp commented on #70
Hi,I have some simple and rough work about it:  https://github.com/gezp/ros_ign_gazebo_py

it's very useful to control ignition Gazebo (by service) with ROS , for example, resume and pasue Ignition Gazebo, create model,delete model and set pose of model.

In my case, I need control Ignition Gazebo with python, but `ign-transport` doesn't support python, so i use ROS as bridge with C++, and then i

[2021-04-30 21:47] chapulina commented on #70
Hi @gezp , we're not currently planning to work on this, but we can review a pull request if you're willing to implement it.

[2021-05-01 01:23] gezp commented on #70
I'm glad to contribute, but the New ROS Package `ros_ign_interfaces`  is allowed to pull request?

In addition, I think `ign_gazebo_manager.cpp` (https://github.com/gezp/ros_ign_gazebo_py : bridge part services ) should be put in `ros_ign_gazebo/src`  , and `ign_gazebo_interface.py` (ros client node for ign_gazebo_manager service, provide python interface )should be put in `ros_ign_gazebo/ros_ign_

[2021-05-02 18:02] AustinDeric opened #151 "`ros2 run ros_ign_gazebo create` crashes ignition gazebo"
## Environment
* OS Version: Ubuntu 20.04
* Ignition binary version 5
* ros Foxy

## Description
* Expected behavior: `ros2 run ros_ign_gazebo create -file test.urdf` works similar to `ros2 launch gazebo_ros spawn_entity_demo.launch.py`
* Actual behavior: ignition gazebo crashes

## Steps to reproduce
* In terminal 1 run: `ros2 launch ros_ign_gazebo ign_gazebo.launch.py`
* In terminal 2 run: `ros2

[2021-05-03 02:42] #151 closed, assigned to nobody

[2021-05-03 17:25] chapulina commented on #70
Yes, thanks! I think there's no way around it, we'll need to add some Ignition-specific ROS messages that aren't provided by other packages.

I considered maybe using [gazebo_msgs](https://github.com/ros-simulation/gazebo_ros_pkgs/tree/kinetic-devel/gazebo_msgs), but those messages carry some Gazebo-classic concepts that I think we wouldn't want here.

I'm curious, why `ros_ign_gazebo` instead of

[2021-05-04 00:45] gezp commented on #70
because `ros_ign_bridge`  currently provides a general topic's transfer between ROS and Ignition. and i don't find a way to provide a general service's transfer between ROS and Ignition.

 `ign_gazebo_manager`(https://github.com/gezp/ros_ign_gazebo_py)  provide a function to control Ignition Gazebo (create model, etc) in ROS, which is based on service's transfer , just like `ros_ign_gazebo/src/cre

[2021-05-04 01:27] chapulina commented on #70
Oh, thank you for the clarification, I thought that your solution would be generic.

In that case, maybe it makes more sense to add the missing functionality to the existing `create` node?

[2021-05-04 02:16] gezp commented on #70
`ign_gazebo_manager` is a bundle of specific services for Ignition Gazebo. it's a service's bridge, but also specific for Ignition Gazebo, I am not sure to add it in `ros_ign_bridge` or `ros_ign_gazebo`.

Perhaps, the generic code from  `ign_gazebo_manager`  can be wrapped and added to `ros_ign_bridge` .

`create` node is a executable, which is useful to create model in ROS launch file.
 `ign_gaze

[2021-05-10 17:29] chapulina commented on #147
The SDFormat fix has been forward-ported to Edifice. I'm closing this. ROS users will get the updated versions as the fix is released and ported to packages.ros.org.

[2021-05-10 17:29] #147 closed, assigned to nobody

[2021-05-10 19:55] vatanaksoytezer opened #153 "[ros2] Joint states publisher and Create from param"
## Environment
In ROS + gazebo invoking ` <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" args=" -urdf -model robot -param robot_description" respawn="false" output="screen" />` statement opens up gazebo, spawns the model and starts to publish `/joint_states`.

I am currently trying to replicate a similar behaviours with ROS2 Foxy. My setup is a docker image with ROS2 Foxy, Ubuntu 20

[2021-05-10 20:57] #153 closed, assigned to nobody

[2021-05-10 21:03] vatanaksoytezer commented on #153
I realized we need the joint states plugin to achieve that. I can open a new PR to document it if it's appropriate.

[2021-05-11 22:21] chapulina commented on #153
Thanks for offering! My suggestion would be to add a simple demo to `ros_ign_gazebo_demos` using the joint states plugin.

[2021-05-11 22:28] vatanaksoytezer commented on #153
Thanks for checking out! Sure I can do that. Will open one soon.

[2021-05-21 08:02] gezp commented on #70
I create a c++ `class template` for general service bridge (only ROS Client -> Ignition Service), and any advice is welcome.
* https://github.com/gezp/ros_ign_gazebo_manager/blob/main/src/service_bridge.hpp
* service bridge example: https://github.com/gezp/ros_ign_gazebo_manager/blob/main/src/ign_gazebo_manager.cpp

In addition, i have some questions about implementation of `service bridge `.

do

[2021-05-26 17:58] aditya-shirwatkar opened #155 "Invalid Inertia when loading a URDF"
## Environment
* OS Version: `Ubuntu 18.04`
* Ignition Release: `Fortress` (binary)
* ROS1: `Melodic`
* Binary build: `version 0.9.5`

[code]

## Description
* Expected behavior: The URDF to be loaded normally (works with Gazebo Classic)
* Actual behavior: Invalid Inertia of links

This is what I'm doing to spawn the robot ("stochlite" is the name of my robot)

[code]
The world file is loading pro

[2021-05-27 17:44] vatanaksoytezer opened #157 "[ros2] Enable ROS (or system) time header stamps in ROS Bridge"
## Environment
* OS Version: Ubuntu 20.04
* Source or binary build? Latest source of `ros_ign`, commit: Latest-fff2dbf4801cbe2116defb817f8a122536bb79d6
* Ignition: Edifice (Binary)
* ROS2: Foxy

## Description
* Expected behavior: All the messages that are bridged from ignition to ros2 are stamped with either real time or sim time. Having an option to use the bridge with ros (or system) time. Bein

[2021-06-08 19:06] DLu commented on #157
Thoughts @caguero ?

[2021-06-10 20:00] mjcarroll opened #162 "Status of Foxy branch"
In the process of moving over to github actions in (#159, #160, #161) and merging in some open pull requests (#158). I noticed that the `foxy` branch doesn't seem to actually be used.

The `foxy/distribution.yaml` confirms this: https://github.com/ros/rosdistro/blob/master/foxy/distribution.yaml#L3509-L3530

The release `tracks.yaml` also indicates this: https://github.com/ros2-gbp/ros_ign-release

[2021-06-14 15:54] chapulina commented on #162
The `foxy` branch was created as part of https://github.com/ignitionrobotics/ros_ign/pull/150. Due to a limitation in Bloom (see https://github.com/ros-infrastructure/bloom/issues/517), we need to keep separate branches for `foxy` and `rolling` / `galactic` in order to release using different Ignition versions.

Good point, something to fix next time we make a `foxy` release

[2021-06-15 16:54] chapulina commented on #155
Ignition Gazebo is a bit more strict when loading a model to help users detect errors in their simulations quickly. I can see you have a couple of negative inertia values, which is not valid and should result in malformed simulations.

See the [mass matrix documentation](https://ignitionrobotics.org/api/math/6.8/classignition_1_1math_1_1MassMatrix3.html#adb32eb01989f4395bd33407b08afcd7a) for more

[2021-06-15 16:54] #155 closed, assigned to nobody

[2021-06-15 17:18] chapulina commented on #157
I may be mistaken, but shouldn't MoveIt be using sim time in this situation for consistency?

Using system time with simulation seems unreliable to me. Simulation rarely runs exactly at real time, and depending on how fast or slow the simulation is running, you may end up with various strange behaviours.

But if this is really the feature that you need, maybe an environment variable like `ROS_IGN_

[2021-07-20 19:10] chapulina commented on #162
https://github.com/ros/rosdistro/pull/30274

[2021-07-27 17:50] vatanaksoytezer opened #172 "Pose_V to TFMessage conversion lacks the headers"
## Environment
* OS Version: Ubuntu 20.04
* Source or binary build?
  Edifice - Binary
  ros_ign - Latest Source

## Description
* Expected behavior: TFMessage with child_frame_id and frame_id
* Actual behavior: child_frame_id and frame_id values are empty in TFMessage

## Steps to reproduce

1. Spawn any world in Ignition and add at least 1 object to it. For eg: `ign gazebo` and add a sphere to t

[2021-07-27 17:51] vatanaksoytezer commented on #172
For context I am trying to expose ground truth poses of some of the models in Ignition through parameter bridge, but the error can be minimally reproduced as stated above. Any insights would be greatly appreciated @chapulina @mjcarroll

[2021-07-27 18:58] chapulina commented on #172
Based on this piece of code, I'd expect those fields to be there:

https://github.com/ignitionrobotics/ros_ign/blob/540b9a21bffed1f2ab6216c6c5aa6d486b97c2d6/ros_ign_bridge/src/convert.cpp#L350-L363

I think what's probably happening is that those fields are not populated by `ign-gazebo` into the Ignition message by default. Have you tried using the [PoisePublisher](https://ignitionrobotics.org/api

[2021-07-27 19:00] vatanaksoytezer commented on #172
Yep that's what I thought but ign_msg seems to be missing these fields (at least with my minimal debugging with some prints). I'll give pose publisher a go and update here, thanks for letting me know!

[2021-07-30 21:22] blakermchale commented on #172
@vatanaksoytezer I had tried PosePublisher and only got it to publish the child links of a model, not the model itself. Did you find any different results?

[2021-07-30 21:27] vatanaksoytezer commented on #172
Same here, but there is OdometryPublisher plugin that seems to do what I want, but I haven't tried it yet. I will test it tomorrow and update here.

[2021-08-11 15:14] #162 closed, assigned to nobody

[2021-08-11 17:17] sloretz opened #173 "Regression in ROS Noetic on armv8 and armhf"
@mjcarroll FYI

`ros_ign_bridge` is no longer building on Ubuntu Focal armhf and Debian Buster armv8 jobs due to ignitionrobotics/ros_ign#137

* http://repositories.ros.org/status_page/ros_noetic_ufhf.html?q=REGRESSION
* http://repositories.ros.org/status_page/ros_noetic_dbv8.html?q=REGRESSION

On these platforms it [appears to find ign-msgs5](https://build.ros.org/job/Nbin_dbv8_dBv8__ros_ign_brid

[2021-08-12 01:12] chapulina commented on #173
Blueprint is EOL

It was backported to Citadel in https://github.com/ignitionrobotics/ign-msgs/pull/143 and released with 5.7.0:

https://github.com/ignitionrobotics/ign-msgs/blob/ign-msgs5/Changelog.md#ignition-msgs-570-2021-03-17

Note that the official version used by the ROS buildfarm for Noetic is Citadel, so we default to that on that branch:

https://github.com/ignitionrobotics/ros_ign/blob

[2021-08-13 15:50] vatanaksoytezer opened #174 "Expose ignition::msgs::Contact through ROS 2 msgs"
Contact sensors are working nicely in Ignition through `ignition::msgs::Contact`. But they are not exposed through ros_ign.

I don't mind adding another conversion to the `ros_ign_bridge`, but I am not %100 sure what ROS message type I should use. I couldn't fit this to any existing ROS2 message. I can of course define a custom message type or create a new message package (ala [gazebo_msgs](https:

[2021-08-13 20:25] chapulina commented on #174
Ohh have you seen the ones recently added in https://github.com/ignitionrobotics/ros_ign/pull/152?

[2021-08-13 20:27] vatanaksoytezer commented on #174
Oh, those look neat! Will send a PR soon for bridge and hopefully close this after it gets merged! Thanks!

[2021-08-18 10:11] #174 closed, assigned to vatanaksoytezer

[2021-08-18 10:12] vatanaksoytezer commented on #172
Forgot to update, but OdometryPublisher is super nice and does the job for me.

[2021-08-18 10:14] vatanaksoytezer commented on #127
@chapulina I see this is already done and can be closed?

[2021-08-18 22:35] chapulina commented on #172
Thanks for the update, @vatanaksoytezer , glad that worked. I'll close this for now because the headers should be there, it just depends on which Gazebo plugin you're using.

[2021-08-18 22:35] #172 closed, assigned to chapulina

[2021-08-18 22:36] chapulina commented on #127
Yup, done in #128

[2021-08-18 22:36] #127 closed, assigned to nobody

[2021-08-28 15:09] ggiulian opened #177 "Fatal Error when building ros_ign_bridge"
## Environment
* OS Version:  Ubuntu 20.04
* Source or binary build?
 Source: ROS2 Galactic and Ignition Edifice

Following the documentation released here: https://github.com/ignitionrobotics/ros_ign/tree/ros2, the build fails with a fatal error when trying to build the ros_ign_bridge. In particular it cannot find the nav_msgs / msg / odometry.hpp file or directory.
The file in question, however,

[2021-08-30 17:56] chapulina commented on #177
Did you run `rosdep install -r --from-paths src -i -y --rosdistro galactic` as instructed in the README? It looks like you're missing `ros-galactic-nav-msgs`.

[2021-08-30 18:41] ggiulian commented on #177
Yes,all rosdeps are installed

[2021-08-30 21:56] chapulina commented on #177
Our latest CI for Edifice + Galactic compiles and passes all tests:

https://github.com/ignitionrobotics/ros_ign/runs/3356214523?check_suite_focus=true

It also works for me locally.

So I think it's probably an issue with your workspace. Here are the steps followed by CI as a reference:

https://github.com/ignitionrobotics/ros_ign/blob/ros2/.github/workflows/build-and-test.sh

[2021-08-31 08:38] ggiulian commented on #177
Sorry, which workspace? ROS2 or ROS_IGN?

[2021-08-31 17:29] chapulina commented on #177
One of them :slightly_smiling_face:

Did you install `nav-msgs` from source or binaries? That seems to be the problematic package.

[2021-08-31 17:49] ggiulian commented on #177
From source
Also in the test_utils.hpp I tried to omit the `#include <nav_msgs/msg/odometry.hpp>` and I encountered the same build error but in the `sensor_msgs/msg/battery_state.hpp` package. So I think there are other problematic packages

[2021-09-01 01:39] chapulina commented on #177
My guess is that you probably have a bad combination of branches or sourced workspaces.

Since I'm unable to reproduce the issue and this also works on our automated testing, this seems to be a local problem with your setup. I'll close this issue and suggest you follow up at https://answers.gazebosim.org/.

[2021-09-01 01:39] #177 closed, assigned to nobody

[2021-09-21 17:57] matosinho commented on #177
The same thing just happened to me. The only difference is that I'm using ROS Foxy and Ignition Citadel.

[2021-09-22 04:52] matosinho commented on #177
The problem seems to be occuring during test compilation. For me, after adding `--cmake-args -DBUILD_TESTING=OFF` in `colcon build`, the bridge compiles and seems to be working just fine. So, IMHO that might be something with CMake of the test, since the include from `convert.hpp` works and the one from `test_utils.hpp` don't. I still need to study more ament and take a deeper look in the `CMakeLi

[2021-09-22 14:27] ggiulian commented on #177
It worked for me, I can tell you the steps I took.
Before the build, in a new terminal:

1. `source /opt/ros/galactic/setup.bash`
2. `cd  ~/ros_ign_ws`
3. `source ~/edifice_ws/install/local_setup.bash`
4. `colcon build`

Following this steps, it works for me.
I agree that many use binary installation, so they don't notice this problem

[2021-09-22 22:19] chapulina opened #179 "Bridge parameters"
## Desired behavior

ROS parameters provide a convenient way to manipulate properties of a node at runtime. It would be convenient for users to be able to alter simulation properties through ROS parameters.

## Alternatives considered

All configuration could be exposed through topics, which can be bridged using `ros_ign_bridge`.

## Implementation suggestion

It would be interesting to provide a

[2021-10-08 17:31] roni-kreinin opened #183 "ros_ign_bridge with contact sensor fails"
## Environment
* OS Version: Ubuntu 20.04
* Source or binary build?
 Binary, Galactic

<details>

[code]

</details>

## Description
* Expected behavior: ros_ign_bridge created, bumper_contact topic is published in ros2
* Actual behavior: Bridge fails to be created, nothing is published on ros2

## Steps to reproduce

[code]
I have the bridge working correctly for other sensors, its just contact w

[2021-10-08 22:15] chapulina commented on #183
Bridging the contact message has been added in https://github.com/ignitionrobotics/ros_ign/pull/175, which hasn't been released into Galactic yet, see the changelog: https://github.com/ignitionrobotics/ros_ign/blob/ros2/ros_ign_bridge/CHANGELOG.rst

[2021-10-12 14:19] roni-kreinin commented on #183
Is there an ETA for when this will be released? I am having trouble building this package from source, it causes my laptop to freeze for several minutes and gets stuck in progress when I run `colcon build`.

[2021-11-07 22:41] peci1 commented on #173
I also can't find any arm64 binaries for melodic... Is it related?

[2021-11-11 17:02] chapulina opened #186 "Provide a package that pulls the default Ignition version for each ROS distro"
Each ROS distro is paired with a specific Ignition version as described on [REP-2000](https://www.ros.org/reps/rep-2000.html). It's the same for Gazebo Classic.

We make sure that `ros_ign` releases match the official version. But since multiple Ignition rosdep keys may be available to packages across ROS distros (because those distros target the same platforms, i.e. Foxy and Galactic are on Ubunt

[2021-11-17 01:18] chapulina commented on #173
The latest Ignition Msgs 5.8.1 has been uploaded to packages.ros.org with https://github.com/ros-infrastructure/reprepro-updater/pull/129. See:

* http://packages.ros.org/ros2/ubuntu/pool/main/i/ignition-msgs5/
* http://packages.ros.org/ros/ubuntu/pool/main/i/ignition-msgs5/

It's only missing Buster now, which should go in with:

https://github.com/ros-infrastructure/reprepro-updater/pull/132

Af

[2021-11-29 13:28] ivanpauno commented on #179
What is the current way to alter simulation properties in ignition/ignition plugins?
I'm not quite sure of what ros parameters are going to be bridged to (does ignition have something equivalent to parameters (?)).

[2021-11-29 15:48] ivanpauno commented on #179
examples:

The gazebo_ros_pkgs wheel slip plugin is using ROS parameteres to dynamically reconfigure slip parameters, or the camera plugin is using a ros parameter to dynamically reconfigure the camera update rate.

What's the recommended way in ignition to "expose" reconfigurable properties through ignition transport?
I was checking the wheel slip subsystem, and it seems that all slip parameters

[2021-11-29 18:00] chapulina commented on #179
Nope

We currently have support for doing it through transport topics / services, or directly on C++ through components.

I'd say that among all of these, the easiest one to bridge would probably be `ign-transport` services that are provided by the `UserCommands` system.

The approach we've been taking to expose configurations to the GUI, for example, is to add a service to `UserCommands`, which s

[2021-12-01 14:47] ivanpauno commented on #179
That makes sense.
The only big difference I see with ROS parameters is that there doesn't seem to be a way to intronspect the current user command setting from ignition transport.

e.g. https://github.com/ignitionrobotics/ign-gazebo/pull/1123 added a `/world/default/visual_config` service, which allows to set the visual config based on the request defined by a [visual msg](https://github.com/ignit

[2021-12-02 06:20] chapulina commented on #179
All the simulation state is held in the `EntityComponentManager` and is available to external programs through the `state` topic / service. There's a standalone example [here](https://github.com/ignitionrobotics/ign-gazebo/tree/b907c86e66e0065f64b0a6c0a85dc6c09f252ed6/examples/standalone/external_ecm) showing how any external application can get the full simulation state through transport.

So...

[2021-12-02 12:36] ivanpauno commented on #179
In that case, I think that the most natural way to port things that used dynamic reconfigure parameters in `gazebo_ros_pkgs` is to expose a similar ignition service in the `UserCommands` system and add support to bridging services here.

e.g. the wheel slip plugin was used to make the slip parameters available through dynamic reconfigure, and using `rqt_reconfigure` you could easily modify them.
T

[2021-12-02 12:49] ivanpauno commented on #179
A bit unrelated to the discussion here, but I think it would be nice to have a way to easily get a particular entity.
Maybe a wrapper on top of the existing topic/service, or a "get entity" service.
Maybe all user commands, could have a `get_*` service.
e.g. `/world/default/visual_config` (req type: Visual, res type: bool) and `/world/default/get_visual_config` (req type: Empty, res type: Visual)

[2021-12-06 19:36] ivanpauno commented on #70
Hi @gezp, did you make any further progress related to this issue?

I might need to work in this ticket in a near future.

[2021-12-07 01:23] #114 closed, assigned to nobody

[2021-12-07 01:29] gezp commented on #70
no, i have no plan, you are free to work in this ticket @ivanpauno .

[2021-12-13 14:56] mcaniot commented on #118
I have the same problem using ignition citadel and ros foxy. When you launch the ign_bridge alone, there is no error message. You launch a node joint_state_publisher, an error message appear with command parameter_bridge. Same message using the demo code from ignition_bridge/ros_ign_gazebo_demos joint_states.launch.py.
`[ERROR] [parameter_bridge-3]: process has died [pid 1841464, exit code -11, cm

[2021-12-13 15:52] Ubb90 commented on #118
If I remember correctly I think it was due that in ignition the joint topic for control publishes to `/model/{robot_name}/joint/{topic_name}/0/cmd_pos` which causes problem because ros doesn't allow topic to start with a number. But then again I may have encountered this problem when trying to find a workaround.

Anyway until it is fixed I would recommend you create some sort of republisher that l

[2021-12-16 19:04] oldtopos opened #190 "ros_ign_gazebo create.cpp usage message incorrect"
and misleading

## Environment
* OS Version: Ubuntu 20.04
* Source build, ros2 branch

## Description
* Expected behavior:
*
* gflags::SetUsageMessage(
    R"(Usage: create -world [arg] [-file FILE] [-param PARAM] [-topic TOPIC]
                       [-string STRING] [-name NAME] [-x X] [-y Y] [-z Z]
                       [-R ROLL] [-P PITCH] [-Y YAW])");
* Actual behavior:
*
* gflags::SetUsageM

[2021-12-16 22:32] chapulina commented on #190
Oops, that's here:

https://github.com/ignitionrobotics/ros_ign/blob/5d9cfef3d58948a77b962d231e281c88ea88e188/ros_ign_gazebo/src/create.cpp#L51

[2021-12-29 22:21] chapulina opened #200 "Branch off for Galactic"
We're ready to default to Fortress for Rolling. Since bloom doesn't allow the injection of custom environment variables (see https://github.com/ros-infrastructure/bloom/issues/517), the release will always take the default conditionals on `package.xml` and `CMakeLists.txt`. This means we need to branch off just so each branch defaults to a different version:

* `galactic` defaults to Edifice
* `ro

[2021-12-30 21:52] chapulina commented on #173
I believe we have all the necessary `ign-msgs` packages in packages.ros.org now:

* http://packages.ros.org/ros/ubuntu/pool/main/i/ignition-msgs5/

The new Noetic release should go through for all architectures:

* https://github.com/ros/rosdistro/pull/31643

Some `ros_ign` packages show as disabled on the status pages though:

* http://repositories.ros.org/status_page/ros_noetic_ufhf.html?q=ros_i

[2022-01-08 10:32] AndrePatri opened #205 "Allow exporting IGN_GAZEBO_RESOURCE_PATH, etc... in the package.xml file of a ROS package"
## Desired behavior
I am using ROS2 foxy and Ignition Gazebo to write/simulate a package for my robot.
On Gazebo Classic, I am able to avoid modifying manually my .bashrc by inserting an export tag <gazebo_ros> in my package.xml .
This way, when someone build my package, the robot files are automatically available and the package can be tested immediately without having to touch the .bashrc .
I wo

[2022-01-10 17:14] chapulina commented on #205
I vaguely remember the `package.xml` approach for `gazebo_ros_pkgs` having some issues, but I'm not finding any tickets with information right now.

In any case, we've been using env hooks to export environment variables from other packages. One advantage that has over the `gazebo_ros_paths` approach is that it's easier to introspect when you source a workspace.

---

See an example here:

1. Crea

[2022-01-10 17:21] AndrePatri commented on #205
Thanks @chapulina, I'll look into the examples you suggested.

[2022-01-12 06:34] Aryaman22102002 commented on #190
I have tried to fix this issue. Can someone please take a look at the pull request.  Link to pr: https://github.com/ignitionrobotics/ros_ign/pull/206

[2022-01-14 04:38] Aryaman22102002 commented on #190
Does this issue needs to be resolved for other branches too?

[2022-01-14 19:02] chapulina commented on #190
Yeah I think so. If you could open a PR for `foxy`, we can then forward-port it to `galactic`. Thanks!

[2022-01-14 19:50] chapulina commented on #190
Thanks @Aryaman22102002

[2022-01-14 19:50] #190 closed, assigned to nobody

[2022-01-25 00:31] chapulina commented on #205
@AndPatr , I'll close this issue for now, but please comment here if you still see a need for it.

[2022-01-25 00:31] #205 closed, assigned to nobody

[2022-02-22 20:10] jugpanther opened #218 "NavSat Ignition Gazebo ROS Bridge Update"
Hello,

I am curious if anyone has been working on getting the NavSat/GPS parameter in Ignition Gazebo converted with the ign_ros bridge. Using Citadel I was able to get the NavSat Ignition Gazebo sensor message to work, but I didn't see the ROS message conversion available in the sensor list. Any tips on how I can get the GPS sensor message converted to ROS.

[2022-02-22 20:25] ahcorde commented on #218
Hi @jugpanther,

Just in case you want to go ahead and add this feature I drop here some tips:

 - Create the headers [here](https://github.com/ignitionrobotics/ros_ign/blob/melodic/ros_ign_bridge/include/ros_ign_bridge/convert.hpp) for the convertion functions IGN->ROS and ROS->IGN
 - Implement [here](https://github.com/ignitionrobotics/ros_ign/blob/melodic/ros_ign_bridge/src/convert.cpp) the con

[2022-02-23 23:44] nuclearsandwich opened #219 "ros_ign in ROS 2 Rolling has not been released on Ubuntu Jammy"
The ROS 2 Rolling Ridley distribution recently [migrated to Ubuntu 22.04 Jammy](https://github.com/ros/rosdistro/pull/32036) using the rosdistro migration tool.

This repository is one which failed to bloom during the migration because the ignition dependencies are not yet available in Ubuntu Jammy. Once the Jammy repositories and the rosdep database are updated it should be possible to release th

[2022-02-24 16:57] jugpanther commented on #218
@ahcorde,

Thank you for the tips. I will see what I can do.

[2022-02-28 06:57] ruffsl commented on #219
With Ubuntu Jammy not listed as a supported platform for Gazebo V11, I'm guessing Nav2 will have to migrate it's system simulation tests to Ignition. So having `ros_ign` installable from Rolling for migrating Nav2's CI would be a nice to have.

[2022-03-01 04:11] chapulina commented on #219
These need to be done first:

- [x] Release Ignition Fortress for Jammy into packages.osrfoundation.org: https://github.com/ignition-tooling/release-tools/issues/566
- [x] Port those packages to packages.ros.org
    - similar to https://github.com/ros-infrastructure/reprepro-updater/pull/128
    - it should be easier with https://github.com/ros-infrastructure/reprepro-updater/pull/144)
- [x] Add r

[2022-03-03 00:14] #200 closed, assigned to chapulina

[2022-03-04 04:44] ymei opened #220 "ROS2 galactic, ign fortress, find_package(geometry_msgs REQUIRED)"
I found that in order to compile (`colcon build`) successfully on ROS2, `ros_ign_gazebo/CMakeLists.txt` needs to be modified:

[code]
Otherwise, it results in a linking error:
[code]

[2022-03-04 17:30] chapulina commented on #220
What branch are you on? And what ROS version are you using?

[2022-03-04 17:58] ymei commented on #220
branch: ros2
ROS2 version: galactic
ignition version: fortress

[2022-03-04 18:12] chapulina commented on #220
Please use the `galactic` branch with Galactic. See the README for the version and branch combinations. I'll close this ticket for now, but please come back here if that doesn't solve the problem for you.

[2022-03-04 18:15] ymei commented on #220
The `galactic` branch has the same problem.  It needs the same modification to compile for me.

[2022-03-04 21:11] chapulina commented on #220
I just re-ran our CI and it compiled fine. I wonder what's different on your setup.

https://github.com/ignitionrobotics/ros_ign/runs/5428022992?check_suite_focus=true

[2022-03-04 21:22] ymei commented on #220
Any information I can provide to help debug this?  Please let me know.  I'm no expert.  I got the idea to add `geometry_msgs` to solve my problem from this page: https://answers.ros.org/question/315023/ros2-debugging-techniques/

[2022-03-14 16:33] harshmahesheka commented on #186
I would like to work on this issue.Could you please assign it to me.

[2022-03-14 22:59] chapulina commented on #186
Hi @harshmahesheka , thank you for volunteering! Before jumping into an implementation, it would be good to share a concrete plan explaining what you're thinking about doing. This could be implemented in a few different ways, and it would be good to make sure everyone is onboard beforehand.

[2022-03-15 07:04] harshmahesheka commented on #186
So, I was thinking of making a package where CMakeLists.txt will take Ros version from environment variable ROS_DISTRO and based on it find and set the required ign version package. I was also thinking will it be possible to do different libraries like ign-gazebo,ign-math, etc. through one package or we will require different packages for each one.

[2022-03-15 21:53] nuclearsandwich commented on #186
Aside from having an invariant name, what is the difference between `ros_ign_dev` and the `ignition-fortress` package? Does `ignition-fortress` not include all dev dependencies?

---

The only downside of using `ros_ign_dev` for any ROS packages which depend on any part of Ignition is that it establishes a pattern of depending on more than you strictly need. A package which only needs ignition-mat

[2022-03-15 21:54] nuclearsandwich commented on #186
I thought that I'd seen a response from @harshmahesheka regarding their proposed implementation, which I was going to comment on as well. I no longer see that response however. Was it removed?

[2022-03-16 04:29] harshmahesheka commented on #186
Hey @nuclearsandwich, I think we can have separate packages like ros_ign,ros_ign_gazebo as suggested so, we won't have to source everything but yeah it would create a few more packages. Also, I was trying my approach faced some errors, so I thought I will write a new detailed one. I guess I should have just edited that one. So, my approach was to create a package that will find and set the require

[2022-03-16 18:17] nuclearsandwich commented on #186
When you say "works for me", and the package itself doesn't include tests can you please elaborate on what you tested and how it worked. Looking at that package, I do not see it accomplishing the goals laid out in this issue and providing more directed comments isn't easy without knowing what you're trying to demonstrate.

[2022-03-17 14:22] harshmahesheka commented on #186
Sorry for the confusion and ambiguity. I have updated the code and mainly there are two parts to it. First,package.xml has
  `<depend condition="$ROS_DISTRO == foxy">ignition-gazebo6</depend>` which will make the package depend on required ign-gazebo version based on Ros distribution and other packages can depend on it.Secondly, ignition_gazebo_dev-extras.cmake under cmake find and set required ig

[2022-03-23 20:11] ivanpauno commented on #219
@chapulina just checking, it seems that the first two steps were done (https://github.com/ros-infrastructure/reprepro-updater/pull/143), right?

Are only the rosdep keys missing?

[2022-03-23 20:39] chapulina commented on #219
https://github.com/ros-infrastructure/reprepro-updater/pull/143 seems to be only partial, it has only `ign-cmake` and `ign-math`.

We do have debs for all of Fortress available already, and I believe @j-rivero is planning to kick off the reprepro process in the coming days.

[2022-03-25 13:34] ahcorde commented on #133
Added a new launch argument https://github.com/ignitionrobotics/ros_ign/pull/226

[2022-03-28 16:33] #133 closed, assigned to ahcorde

[2022-03-28 19:06] chapulina commented on #220
Hi @ymei , I just looked more closely into this now. The `create` executable doesn't use `geometry_msgs`. If anything, we should link against `std_msgs`. How about you open a PR with that change and we see if CI passes? I think that would be ok, even if it looks like it's not strictly needed.

[2022-04-07 04:56] hardesh opened #235 "Memory Overflow on ROS2 Rolling"
## Environment
* OS Version: Ubuntu 20.04
* Source or binary build? Source

Hi,
I'm facing issue while building `ros_ign_bridge` on Ubuntu 20 with ROS2 Rolling with Ignition Fortress. Memory on my PC is overflowing everytime i try to build the package. I tried building older commit which had a CI check. But faced the same issue with that commit.

Specifications:
CPU: AMD Ryzen 7 3700x 8-core proce

[2022-04-07 05:05] hardesh commented on #235
Closing this issue. It built fine after I closed the browser. This was weird

[2022-04-07 06:24] harshmahesheka commented on #186
Hey @nuclearsandwich, if you could review my work that would be really helpful.

[2022-04-07 07:21] hardesh commented on #235
Hi,
My bad. Still facing issue with `ros2` branch. `galactic` branch is working fine

[2022-04-07 08:53] joe28965 opened #236 "README from ros_ign_bridge Example 2 issue"
## Desired behavior
I was trying [Example 2 in the README](https://github.com/ignitionrobotics/ros_ign/tree/ros2/ros_ign_bridge#example-2-run-the-bridge-and-exchange-images) and I initially didn't get any images. I was trying and trying to see what I did wrong, only to realize I hadn't pressed play yet in Ignition.

Now, maybe I'm the idiot here. However, since it's an example that is linked in th

[2022-04-07 12:12] mjcarroll commented on #236
I think that's a reasonable enhancement to the docs.  Always better to be explicit to save people some confusion.

Feel free to open a PR, I'd be happy to review it.

[2022-04-07 12:35] mjcarroll commented on #235
We had to split up some of the translation units in `galactic` at least to get them through the build farm.  The number of templates is starting to make compilation time/memory usage an issue.

There is a forward port to bring the `galactic` changes forward to `rolling` here: https://github.com/ignitionrobotics/ros_ign/pull/228, but we are still blocked on some Jammy/Rolling transition issues as d

[2022-04-07 13:04] hardesh commented on #235
Hi @mjcarroll,
`galactic` branch is working fine on my PC. But it still take a ton of memory while building almost 80%

[2022-04-08 17:38] mjcarroll commented on #235
This is somewhat expected given the volume of templates that we have.  You can also attempt restrict the number of parallel jobs using either `make -j1` if you are in the build directory or you can use `colcon build --executor parallel --parallel-workers 1`

[2022-04-08 17:38] #235 closed, assigned to nobody

[2022-04-08 17:51] mjcarroll commented on #183
#175 has been released as part of galactic `0.233.3 (2021-12-30)`

[2022-04-08 17:51] #183 closed, assigned to chapulina

[2022-04-08 21:27] chapulina commented on #186
The main advantage would be the invariant name. Think about automatically rolling packages to a new distribution.

Ok, so it sounds like we're leaning towards separate packages. I'd suffix them all with `_dev` and probably keep them in a nested directory so they don't pollute the root of this repository. Also, considering we're [renaming](https://community.gazebosim.org/t/a-new-era-for-gazebo/1356

[2022-04-11 09:38] harshmahesheka commented on #186
Yeah, a simple package for each library would be a cleaner way to do it. By this, we can avoid the issue of depending on more than you need and at the same time provide a convenient way for users to maintain and change their versions.

[2022-04-11 17:38] mjcarroll commented on #186
One idea I have been toying with is exporting targets using CMake/find_package.

I think we could have a metapackage `gz`, and export subcomponents such as:

[code]

I think you could then downstream users could do something like

`find_package(gz VERSION fortress REQUIRED COMPONENTS utils utils::cli)`

Which will both export the targets, as well as the `<LIBNAME>_VER` variables

[2022-04-12 08:12] #236 closed, assigned to nobody

[2022-04-12 12:03] harshmahesheka commented on #186
I saw something similar in https://github.com/ignitionrobotics/ign-cmake/issues/69 here. It can surely decrease users' work but on the implementation side, I think rather than having a meta-package how about we simply add this argument in ign_find_package. Based on arguments ign_find_package will simply source and set the required variables.

[2022-04-22 00:54] xzjohy opened #245 "robot_description_publisher"
hi in the ros_ign ->robot_description_publisher,i see the doc , i'm finding the robot_description_publisher.launch.py,but i can't,pls help me .thanks very much :)

[2022-04-22 07:48] ahcorde commented on #245
Please ask the kind of questions in https://answers.ros.org/questions/

[2022-04-22 07:48] #245 closed, assigned to nobody

[2022-04-22 17:18] hardesh commented on #219
I think `ros_ign_gazebo` needs `std_msgs` as its dependency. I was just trying out the rolling branch on Ubuntu 22.04 and got a build failure. Package built properly after adding the dependency

[2022-04-22 18:57] nuclearsandwich commented on #186
@harshmahesheka I was actually just discussing a similar proposal (having not seen the one above previously) offline with @chapulina and I think that it has a lot of potential to help with Gazebo usage both within ROS and more generally.

With such a CMake helper a package in ROS can decide to declare a dependency on, for example, `gazebo-fortress` in its package.xml and then use that CMake workfl

[2022-04-22 20:26] chapulina commented on #219
* See https://github.com/ignitionrobotics/ros_ign/pull/242

[2022-04-22 22:16] #218 closed, assigned to nobody

[2022-04-25 09:12] harshmahesheka commented on #186
I have done something similar in a draft pr here https://github.com/ignitionrobotics/ros_ign/pull/240. Any kind of feedback or review will be very helpful.

[2022-04-25 09:19] xzjohy opened #247 "robot_publisher.launch tf joint_publisher in ros noetic ign cital"
pls help me how to edit robot_publisher.launch tf joint_publisher in ros noetic ign cital

[2022-04-25 17:49] chapulina commented on #247
Hi @xzjohy  , please direct questions to https://answers.gazebosim.org/. This issue tracker is for bug reports and feature requests.

And also please use the issue template next time.

See you at Gazebo Answers.

[2022-04-25 17:49] #247 closed, assigned to nobody

[2022-04-25 22:54] chapulina commented on #219
It should be out on the next sync:

* https://github.com/ros/rosdistro/pull/32889
* https://github.com/ros/rosdistro/pull/32890

[2022-04-25 22:54] #219 closed, assigned to j-rivero

[2022-04-26 17:46] jacobperron commented on #70
Is this ticket resolved with #211?

[2022-04-26 17:58] ivanpauno commented on #70
I think so, we can open follow-up tickets if something is missing.

[2022-04-26 17:58] #70 closed, assigned to nobody

[2022-04-29 18:47] dfarning opened #248 "Building Gazebo Ignition Fortress for ROS2 humble on Ubuntu Jammy"
For the last several days I have been testing ROS Humble which was released for beta testing on April 25, 2022. The basic features are pretty stable.

I have also tested Gazebo Ignition Rolling on ROS2 Rolling. I was able to run several demos without problems.

Would it be possible to start building Gazebo Ignition Fortress for ROS2 HUmble for testing?

[2022-05-02 16:32] chapulina commented on #248
* See https://github.com/ignitionrobotics/ros_ign/issues/219

We've bloomed `ros_ign` for Humble and Rolling last week. I just ran [these instructions](https://docs.ros.org/en/humble/Installation/Ubuntu-Install-Debians.html) in a Docker container and I'm able to install `ros-humble-ros-ign`.

I'm closing this, but please comment if something else is missing for you.

[2022-05-02 16:32] #248 closed, assigned to nobody

[2022-05-02 16:36] dfarning commented on #248
Thanks, I am now able to install it.

[2022-05-23 15:32] xlla opened #253 "Examples 4 failure ."
## Environment
* OS Version: macOS 10.13.6
* Source or binary build?
  source ,
  ros_ign_bridge,  main,  3512c016ad05fa56d325ad5c2f9c0dfafcb962a5
       build with transport12, msg9, math7, gazebo7
  ros2, humble
  ign gazebo7, gui7

## Description
* Expected behavior:
  like Examples described
* Actual behavior:

<pre>
slim:ros_gz xlla$ ros2 service call /world/shapes/control ros_ign_interfaces/

[2022-05-24 11:46] ahcorde commented on #253
Hi @xlla,

do you mind to try this fix ? https://github.com/gazebosim/ros_gz/pull/254

[2022-05-24 20:09] #253 closed, assigned to nobody

[2022-05-25 21:12] Marcelomm103 commented on #40
Hi everyone!

Any updates on this @chapulina ? I'm having some issues with pointcloud_to_laserscan package and i think it's something to do with the ign_bridge. I'm using ROS2 Foxy and Ignition Fortress. I have been able to create a 3D lidar and got the /points topic from ignition. I can see the pointcloud on rviz but when i use the pointcloud_to_laserscan nothing gets published on the /scan topic

[2022-05-27 16:47] Kakcalu13 commented on #172
This new feature exists in Fortress+.

Citadel has ` /world/free_world/pose/info`only, so is there anything alternate to it?

[2022-05-27 19:11] Kakcalu13 commented on #172
For anyone in future search the same thing using Citadel only:

I end up using this in python:
[code]

[2022-06-08 09:15] xlla commented on #253
hi @ahcorde ,  it works again using #254 . thanks you!
[code]

[2022-06-13 22:18] chapulina commented on #220
`std::msgs` added to the `ros2` branch in https://github.com/gazebosim/ros_gz/pull/242

[2022-06-13 22:18] #220 closed, assigned to nobody

[2022-06-27 13:26] marc-wittwer opened #266 "Bridge for service calls on galactic `SetEntityPose`"
I'm interested in accessing the `SetEntityPose` service via the ros_bridge.
I saw that ControlWorld service is available for rolling.

I'm currently on ROS galactic. Is it possible to also bridge service calls in galactic?
How can I help to make it available in galactic?

I just need a way to set the pose of an entity in gazebo programmatically. I found that using the service call via the terminal

[2022-06-27 17:01] Marcelomm103 opened #267 "NavSatFix bridge on ROS2 Galactic"
## Desired behavior

Hey you all!

I would like to know if NavSatFix bridge is going to be ported to ROS2 Galactic as well as it was to ROS1 Melodic. I'm in dire need of it, if someone could help me would be great!

## Implementation suggestion

NavSatFix ros_bridge in ROS2 Galactic

[2022-06-28 22:23] mjcarroll commented on #267
Close by #268

[2022-06-28 22:23] #267 closed, assigned to mjcarroll

[2022-06-29 10:08] oKermorgant opened #269 "[ros_gz_bridge] parameter_bridge can create invalid ROS topic names"
Hi,

Using Galactic + Fortress here.

## Desired behavior
The current `parameter_bridge` uses Ignition topic names on the ROS side, as only one topic is included in the `<topic@ROS2_type@Ign_type>` syntax.

For some topics, this leads to an invalid ROS topic name. This is the case for e.g. joint commands where the Ignition topic is `/model/<model_name>/joint/<joint_name>/<joint_index>/cmd_*`, but

[2022-06-29 14:04] Marcelomm103 commented on #267
Thank you!

May i point out that there is an error in the readme of the ign bridge, is NavSatFixed and you implemented NavSatFix.

[2022-06-29 14:13] mjcarroll commented on #269
I have added a mechanism for configuring the bridge with a yaml file, which allows you to directly set the mapping between Ignition and ROS topics without having to deal with the remapping rules.  See if this is a reasonable solution: https://github.com/gazebosim/ros_gz/pull/238

I opted for this rather than extending the current syntax because I found YAML to be more consistent to work with, and

[2022-06-29 15:05] oKermorgant commented on #269
Great! That is clearly doing the job.
How does one specify between ros->gz and gz->ros in the yaml file?

[2022-06-29 15:46] mjcarroll commented on #269
Ah, I see that wasn't included in the documentation, I will update that.  Without any other configuration, the default is bidirectional comms.  You can additionally set directions with the following:

[code]

[2022-06-29 16:02] mjcarroll commented on #269
Let me know if #271 is a sufficient improvement to the documentation to help future users.

[2022-06-29 19:21] oKermorgant commented on #269
Yep I think this covers all use cases now.

Python-based launch files could more or less easily build the `parameter_bridge` `@voodoo]` strings but a YAML file is much better.
I guess the `IGN_TO_ROS` will be changed to `GZ_TO_ROS` at some point.

Anyway thanks for the pointer to this PR.

[2022-06-29 19:46] mjcarroll commented on #269
If I understand correctly, the `galactic` branch will not have the renaming applied, only `ros2` and forward.  @chapulina can you confirm?

[2022-06-29 23:53] chapulina commented on #269
Correct, the gz renaming will only apply from Rolling / Iron.

We considered adding various `gz` aliases for Foxy and Galactic, so that users could start using `gz` with them if they wanted to future-proof. But considering that these 2 distributions have a relatively short life ahead of them, it's not worth the effort.

[2022-06-29 23:54] #269 closed, assigned to mjcarroll

[2022-06-30 14:07] marc-wittwer commented on #266
I managed to call the set_pose service using C++.

Here is my script:
https://github.com/gazebosim/gz-transport/issues/323#issuecomment-1171263362

[2022-07-07 15:57] chapulina commented on #266
In theory, this can be backported to galactic:

* https://github.com/gazebosim/ros_gz/pull/211

But it may be a lot of work, considering that the code on the `ros2` branch has significantly diverged from `galactic`. And it also may not be worth it, since Galactic has only ~4 months left of support.

[2022-07-07 16:04] #266 closed, assigned to nobody

[2022-07-22 11:11] rsinnet opened #276 "Missing dependencies for ros_ign_gazebo_demos"
## Environment
* OS Version: All
* Source or binary build? All

## Description
* Expected behavior: rosdep install should install all necessary packages to run the demos
* Actual behavior: rosdep install completes but some unlisted dependencies are missing

## Steps to reproduce
1. Install minimal version of ROS.
2. Clone this repo into a new catkin workspace
3. Run rosdep install
4. Run roslaunch

[2022-07-27 18:55] chapulina commented on #276
* https://github.com/gazebosim/ros_gz/pull/277

[2022-07-27 18:55] #276 closed, assigned to nobody

[2022-08-19 00:06] andermi opened #288 "ros_ign_bridge test_launch_test_ros_subscriber.launch.py fails intermittently"
## Environment
* OS Version: Ubuntu 20.04
* Source: galactic, 94abe668a8e5ef8cfad9059f9e8ce125f12415c6

## Description
ros_ign_bridge test_launch_test_ros_subscriber.launch.py fails intermittently

## Steps to reproduce
1. clone, checkout, build
2. colcon test

## Output
[code]

[2022-08-21 02:07] JasonRBowling opened #290 "Fail to create bridge for NavSatFix/NavSat messages"
## Environment
* OS Version: Ubuntu 20.04
* Source or binary build?
 Binary. Fortress version  6.11 with ROS2 Galactic, both installed via apt-get

## Description
* Expected behavior: I expected to be able to bridge navsat messages from Fortress to ROS2, as I can with other topics (odom, tf, clock. camera, lidar, IMU, empty all work as expected)

* Actual behavior:  Launching via launch file or co

[2022-08-25 01:14] quarkytale commented on #288
I was not able to reproduce this, is the same test failing every time?

[2022-08-25 19:55] andermi commented on #288
It's the same tests within `test_launch_test_ros_subscriber.launch.py` that fail, but they don't fail every time.

[2022-08-26 05:52] quarkytale commented on #288
A suggestion was to check if its a flaky test or not by trying `--retest-until-pass N`.

[2022-08-27 04:44] chapulina commented on #290
NavSat support was added to Galactic in https://github.com/gazebosim/ros_gz/pull/268, and we haven't made a release since. You could try building `ros_ign` from source.

Also note that `ros-galactic-ros-ign` uses Edifice, not Fortress, per [REP-2000](https://ros.org/reps/rep-2000.html#galactic-geochelone-may-2021-november-2022).

[2022-08-27 04:44] #290 closed, assigned to nobody

[2022-08-27 17:07] JasonRBowling commented on #290
I see. Thank you!

[2022-09-07 19:43] rcywongaa opened #291 "Bring back -J option to specify joint angles when creating model"
## Desired behavior
In Gazebo Classic + ROS1, there was the ability to use [`spawn_model`](https://github.com/ros-simulation/gazebo_ros_pkgs/blob/noetic-devel/gazebo_ros/scripts/spawn_model#L78) with `-J` to specify the joint values of the spawned model, albeit some [never resolved bugs](https://github.com/ros-simulation/gazebo_ros_pkgs/issues/93)...

This seems to be missing in the current Igniti

[2022-09-20 04:30] ijnek opened #300 "Release for rolling?"
In a project I have, I was using ros_ign_bridge as a library (ie. ``#include "ros_ign_bridge/convert/sensor_msgs.hpp"``), rather than as a standalone node.

Unfortunately, this broke on humble during the transition from ros_ign_bridge -> ros_gz_bridge. So I decided to change all ros_ign_bridge -> ros_gz_bridge in my project, but then now the rolling CI (which ran on the same branch) is failing bec

[2022-09-23 12:27] mjcarroll commented on #300
I have a large port from galactic to rolling to get in (#275) and then I think we will be good for a release.

[2022-09-23 13:57] mjcarroll commented on #288
@andermi out of curiosity, is there another bridge/publisher/subscriber instance that maybe a zombie?  I have had this happen rarely, but it seems to always be related to a test that didn't bring itself down cleanly.

[2022-09-23 14:46] andermi commented on #288
Possible, although I haven't had this issue pop up again for a long time.

[2022-09-23 14:52] mjcarroll commented on #288
Alright, I'm trying to prune down issues, so if you haven't seen this for a while, I'm going to close it.  If it comes up again, feel free to re-open.

[2022-09-23 14:52] #288 closed, assigned to mjcarroll

[2022-09-30 08:35] ijnek commented on #300
Just a very gentle ping on this @mjcarroll. Sorry if this is on your todo list already!

[2022-10-04 20:02] oKermorgant opened #307 "ros_gz_bridge: config file broken with Humble release"
## Environment
* OS Version: 22.04
* ROS2 : Humble
* Gazebo : Fortress (binary) + quite recent `ros-humble-ros-gz-bridge`

## Description

I am using the `config_file` approach for `ros_gz_bridge`, as some GZ topics have non-valid ROS names (e.g. [JointPositionController](https://gazebosim.org/api/gazebo/6.1/classignition_1_1gazebo_1_1systems_1_1JointPositionController.html) that includes a `/0/`

[2022-10-05 14:10] mjcarroll commented on #307
This is likely something I introduced in a forward-port, I will look into it.

[2022-10-07 18:34] mwcondino opened #308 "ros_ign_gazebo- `ign_args` launch arg not respected in `ign_gazebo.launch.py`"
## Environment
* OS Version: Ubuntu 22.04
* Source or binary build?
`ros-humble-ros-ign-gazebo` at `0.244.6-1jammy.20220916.172640`
`libignition-gazebo6:amd64` at `6.12.0-1~jammy`

## Description
It looks like the `ign_gazebo.launch.py` launch file may not respect `ign_args` in a humble environment with Ignition Fortress installed.

## Steps to reproduce

1. Ensure `ros-humble-ros-ign-gazebo` is i

[2022-10-11 14:11] mjcarroll commented on #308
@mwcondino please look at #309 and see if this resolves the issue.

[2022-10-11 14:11] mjcarroll commented on #308
This is ideal long-term, but there should be some middle ground with deprecation warnings, that is what I have implemented.

[2022-10-11 14:22] mjcarroll commented on #307
gz-sim will make `/clock` a root topic as long as no other publisher is detected on `/clock`

[2022-10-11 14:47] mjcarroll commented on #307
I'm having a bit of an issue trying to reproduce this with the humble branch:

Command line:
[code]

Config file:
[code]

[2022-10-11 14:48] mjcarroll commented on #307
@oKermorgant if it is possible that you were still using `ign_type_name` and `ign_topic_name` in your configuration files, I have addressed that with deprecation warnings in #310

[2022-10-11 14:53] mjcarroll commented on #307
Ha! Actually we need a humble release, it seems.

[2022-10-11 16:09] oKermorgant commented on #307
@mjcarroll  thanks for your time.
I can still reproduce the issue when relying on the `ros-humble-gz-bridge` binary, while the behavior is as expected when using the package compiled from source.

[code]
I have indeed used  `gz_*` keys in the configuration file, a deprecation warning will be welcome anyway!
I cannot see how it could be specific to my computer, but maybe it is.

[2022-10-11 21:44] mjcarroll commented on #307
Yep, that was my mistake, I believe the configuration bits are completely excluded from the previous humble release.  Once #309 and #310 get in, we can make a new release which will include the configuration as well as those fixes.

[2022-10-12 19:16] mjcarroll commented on #307
Humble release will address this: https://github.com/ros/rosdistro/pull/34912

[2022-10-14 12:28] mjcarroll commented on #307
rosdistro pr merged, it will go out in the next Humble sync, so I'm going to close this.  Thanks for iterating with me.

[2022-10-14 12:28] #307 closed, assigned to mjcarroll

[2022-10-14 12:29] mjcarroll commented on #308
#309 has been released to humble and will be available in the next sync.  If this doesn't resolve it, please feel free to reopen.

[2022-10-14 12:29] #308 closed, assigned to mjcarroll

[2022-10-15 17:16] mwcondino commented on #308
Thanks @mjcarroll, that fix looks good to me!

[2022-10-17 13:30] oKermorgant commented on #307
Cool, thanks.

[2022-10-18 13:25] Rezenders opened #314 "ros_gz_sim forcing gazebo 6"
## Environment
* OS Version: Ubuntu 20.04
* Binary, version 0.244.6-1jammy.20220922.192204

## Description
* Expected behavior:

When I run:

`ros2 launch ros_gz_sim gz_sim.launch.py gz_args:="room_walls.sdf"`

I expect it to open the room_walls.sdf world in gazebo 7 (garden)

* Actual behavior:

For some reason it is forcing it to open with gazebo 6 and it is crashing

I get the following error:

[2022-10-18 14:01] Rezenders commented on #314
If I use the ros2 branch and build the package myself, it works. I am going to close this issue, I guess the new changes weren't released yet.

[2022-10-18 14:01] #314 closed, assigned to nobody

[2022-10-20 13:38] audrow opened #315 "Missing `rcl_interfaces` dependency"
It seems that the last release (0.244.7-1) introduced a dependency without adding it, causing builds to break:
https://build.ros2.org/view/Hbin_uJ64/job/Hbin_uJ64__ros_ign_interfaces__ubuntu_jammy_amd64__binary/2/

I've reverted this release:
https://github.com/ros/rosdistro/pull/34999

I believe all that needs to be done is that package dependencies should be added for `rcl_interfaces`, and then

[2022-10-26 21:44] #315 closed, assigned to nobody

[2022-10-28 12:17] Myzhar opened #318 "Diff Drive demo not working with Gazebo Garden"
## Environment
* OS Version: Ubuntu 22.04
* Source or binary build?
Source, branch `ros2`

## Description
* Expected behavior: The `diff_drive.launch.py` demo correctly works in Gazebo and Rviz2
* Actual behavior:  The communication between Gazebo and ROS2 is not established

## Steps to reproduce

1. Install Gazebo Garden
2. clone the `ros_gz` repository, branch `ros2`
3. build
4. launch the diff

[2022-10-28 12:28] Myzhar commented on #318
Additional note: the same issue is present in all the other demos:
* air_pressure.launch.py
* battery.launch.py
* camera.launch.py
* depth_camera.launch.py
* gpu_lidar_bridge.launch.py
* gpu_lidar.launch.py
* imu.launch.py
* joint_states.launch.py
* joint_states.launch.py
* navsat.launch.py
* rgbd_camera_bridge.launch.py
* rgbd_camera.launch.py
* sdf_parser.launch.py
* tf_bridge.launch.py
* trigge

[2022-10-28 13:37] ahcorde commented on #318
@Myzhar, are you planning to open a PR? otherwise I will add the changes.

[2022-10-28 15:42] Myzhar commented on #318
No @ahcorde I'm not going to open a PR now.
I'm struggling with my simulator plug-in code and I'm afraid I don't spend enough time on the PR.

[2022-10-28 16:59] #318 closed, assigned to nobody

[2022-11-01 20:01] audrow opened #324 "0.244.8-1 fails to build on the Humble Buildfarm"
Here's the reverted PR:
https://github.com/ros/rosdistro/pull/35128

[2022-11-02 16:39] ConnorDTaylor opened #325 "GPU Lidar sensor bridge is not passing all of the sensor data from the GZ topic to the defined ROS2 topic."
## Environment
* OS Version: Ubuntu 22.04
ROS2: Humble, binary install
Gazebo: Gazebo Garden, binary install
ros_ign branch: ros2 (master branch, re-cloned today)
## Description
* Expected behavior: When creating the bridge between the GPU_Lidar sensor and Gazebo Garden, I would expect the horizontal and vertical samples from the sesnor to be passed to the defined Ros2 topic.
* Actual behavior: Wh

[2022-11-02 19:47] ConnorDTaylor commented on #325
Upon further inspection, it looks like the behavior I described above is actually the defined behavior in the conversion code. However, I have adjusted the code to provide all of the lidar range measurements and intensities from all of the vertical beams. Would it be a good idea to push this adjustment somewhere?

[2022-11-02 19:52] mjcarroll commented on #325
Yes please, if you can open a pull request, I would be happy to review it.

[2022-11-03 12:44] mjcarroll commented on #324
Should be fixed by https://github.com/gazebosim/ros_gz/pull/317, but requires another release.

[2022-11-03 12:57] mjcarroll commented on #324
https://github.com/ros/rosdistro/pull/35179

[2022-11-05 10:20] ijnek opened #329 "shim package executables fail when passed argument contains whitespace"
## Environment
* OS Version: Ubuntu 22.04
* ROS Version: Humble
* Source or binary build? Source, latest humble branch

## Description

Calling shim executables with arguments that contain white spaces encapsulated in double quotes fails on ROS 2 Humble.

* Expected behavior: ros_ign_gazebo and ros_gz_sim's create displays same behaviour, apart from the deprecation message.

* Actual behavior: Cal

[2022-11-07 14:13] mjcarroll commented on #324
0.244.9 successfully builds: https://build.ros2.org/job/Hbin_uJ64__ros_gz__ubuntu_jammy_amd64__binary/9/

[2022-11-07 14:13] #324 closed, assigned to mjcarroll

[2022-11-08 12:42] Rezenders opened #330 "Get pose array with link name"
## Desired behavior
It would be nice to be able to bridge the gz topic ` /world/empty/pose/info` to ROS2 as position array including the name of the links. As described in this [question](https://answers.gazebosim.org/question/27215/ground-truth-of-ignition-gazebo-model-through-ros/).

As far as I understood, now it is only possible to bridge `gz.msgs.Pose_V` to `geometry_msgs/PoseArray` which doe

[2022-11-11 21:35] azeey commented on #330
I've given an [answer](https://answers.gazebosim.org/question/27215/ground-truth-of-ignition-gazebo-model-through-ros/?answer=28552#post-id-28552) to the question you mentioned. Since there's already a way to do this, I'll go ahead and close this. Feel free to open if that is not the case.

[2022-11-11 21:35] #330 closed, assigned to nobody

[2022-11-25 20:59] jsvsebastian opened #334 "hi i was trying to export an urdf that contains meshes to ignition fortress but i couldn't, anyone can help me please"
## Environment
* OS Version:
* Source or binary build?

## Description
* Expected behavior:
* Actual behavior:

## Steps to reproduce

1.
2.
3.

## Output

[2022-11-28 08:59] ahcorde commented on #334
Hi @jsvsebastian,

we can't help you without providing more information, anyhow this kind of question which are not bug related you should [ask them here](https://robotics.stackexchange.com/).

Feel free to open the question there with more information, post the link here and I will be happy to answer.

Closing this for now

[2022-11-28 08:59] #334 closed, assigned to nobody